.header 
      .profile-box 
        img.op-profile-pic(src="images/operator.png")  
        .op-profile-label 
            .welcome-natty  welcome,
                span.welcome-natty-span2 Natty
      .nav 
        button.users-button(class=`${dataSet[1].userDisp=='hidden'?'in':'active'}`)
          i.users-icon.fa-solid.fa-users(style =`display:${dataSet[1].userDisp=='hidden'?'none':'block'}`)
          .users Users
        button.vehicles(class=`${dataSet[1].vehcDisp=='hidden'?'in':'active'}`)
          i.fa-solid.fa-car.vehicle-icon(style =`display:${dataSet[1].vehcDisp=='hidden'?'none':'block'}`)
          .users Vehicles
        button.transaction(class=`${dataSet[1].transDisp=='hidden'?'in':'active'}`)
          i.transaction-icon.fa-solid.fa-calendar(style =`display:${dataSet[1].transDisp=='hidden'?'none':'block'}`)
          .users Transaction
      .log-out-box 
        a.log-out(href='/') 
          .users logOut
          i.logout-icon.fa-solid.fa-right-from-bracket