Doctype= html 
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/vars.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/add-user.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
      integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer')
    title Document
    style.
      .test{
          border: 1px solid blue;
          }
  body.body
    include _header
    block content
    .home
      .main
        .left-container
          .search-box
            .frame-271
              .search-here
          .user-container(class=`${dataSet[1].userDisp}`)
            .top-header 
              .users2 Users
              button.add-btn 
                .add add
                i.add-icon.fa-solid.fa-user-plus
            table#users.table.table-striped(style='width:100%')
                  thead
                    tr
                      th(style='background: #1964d4; color: white;') UserId
                      th(style='background: #1964d4; color: white;') Name
                      th(style='background: #1964d4; color: white;') Email
                      th(style='background: #1964d4; color: white;') Phone
                      th(style='background: #1964d4; color: white;') Address
                      th(style='background: #1964d4; color: white;') VehicleId
                      th(style='background: #1964d4; color: white;') Balance
                      th(style='background: #1964d4; color: white;') Action
                  tbody
                    each row in dataSet[0]
                      tr.user-records(data-userid=`${row.UserID}`)
                        td= row.UserID
                        td= row.Name
                        td= row.Email
                        td= row.Phone
                        td= row.Address
                        td= 5
                        td= row.AccountBalance
                        td= 'edit'
                    
          .vehicles-container(class=`${dataSet[1].vehcDisp}`)
            .top-header 
              .users2 Vehicles
            table#vehicles.table.table-striped(style='width:100%')
                  thead
                    tr
                      th(style='background: #1964d4; color: white;') VehicleID
                      th(style='background: #1964d4; color: white;') UserID
                      th(style='background: #1964d4; color: white;') LicensePlate
                      th(style='background: #1964d4; color: white;') VehicleType
                      th(style='background: #1964d4; color: white;') Action
                  tbody
                    each row in  dataSet[0]
                      tr.user-records(data-userid=`${row.VehicleID}`)
                        td= row.VehicleID
                        td= row.UserID
                        td= row.LicensePlate
                        td= row.VehicleType
                        td= 'edit'
          .transactions-container(class=`${dataSet[1].transDisp}`) 
            .top-header 
              .users2 Transactions
            table#transactions.table.table-striped(style='width:100%')
                  thead
                    tr
                      th(style='background: #1964d4; color: white;') TransactionID
                      th(style='background: #1964d4; color: white;') UserID
                      th(style='background: #1964d4; color: white;') Name
                      th(style='background: #1964d4; color: white;') VehicleID
                      th(style='background: #1964d4; color: white;') TollBoothID
                      th(style='background: #1964d4; color: white;') Timestamp
                      th(style='background: #1964d4; color: white;') Amount
                      th(style='background: #1964d4; color: white;') Status
                  tbody
                    each row in  dataSet[0]
                      tr.user-records(data-userid=`${row.TransactionID}`)
                        td= row.TransactionID
                        td= row.UserID
                        td= row.Name
                        td= row.VehicleID
                        td= row.TollBoothID
                        td= row.Timestamp
                        td= row.Amount
                        td= row.Status            
        .right-container#data-container
          .user-profile-box 
            .user-pic 
              .frame-371 
                img.drivers-pic(src="images/user.png")  
          .user-detail-box 
            .detail-label 
              .all-details All details
            .detail-container 
              .uid 
                .frame-262 
                  .uid2 UID
                .frame-263
                  .gg-74873-yhhvhc scannedcard.UID
              .name 
                .frame-262 
                  .name2 Name
                .frame-263
                  .gg-74873-yhhvhc= dataSet[2].Name==null?'No data found':dataSet[2].Name
              .vehicle-id 
                .frame-2622 
                  .vehicle-id2 VehicleID
                .frame-263 
                  .gg-74873-yhhvhc= dataSet[2].VehicleID==null?'No data found':dataSet[2].VehicleID
              .balance 
                .frame-2622 
                  .balance2 Balance
                .frame-263 
                  ._2-000-etb= dataSet[2].AccountBalance==null?'No data found':`${dataSet[2].AccountBalance} ETB`
              .status 
                .frame-2622 
                  .status2 Status
                .frame-263 
                  .access-granted= dataSet[2].Status==null?'No data found':dataSet[2].Status
    
    .black-bg.hidden
    form.add-modal-container.hidden(action='/users' method='POST')
      .top-header-user
        i.add-icon-user.fa-solid.fa-user-plus
        .add-label
          .frame-258
            .add-user-information Add User Information
      .content
        .left
          .uid-box
            .uid-label
              .user-id UserID
            .uid-input
              input.inputs(type='text' placeholder='your OID' name='oid')
          .name-box
            .name-label
              .name Name
            .name-input
              input.inputs(type='text' placeholder='your OID' name='oid')
          .phonebox
            .phone-label
              .phone Phone
            .phone-input
              input.inputs(type='text' placeholder='your OID' name='oid')
          .address-box
            .address-label
              .address Address
            .address-input
              input.inputs(type='text' placeholder='your OID' name='oid')
        img.middle-line
        .right
          .vehicle-id-box
            .vaehicle-id-label
              .vehicle-id VehicleID
            .vaehicle-id-input
              input.inputs(type='text' placeholder='your OID' name='oid')
          .plate-box
            .plate-label
              .license-plate LicensePlate
            .plate-label2
              input.inputs(type='text' placeholder='your OID' name='oid')
          .vaehicle-type-box
            .vaehicle-type-label
              .vehicle-type VehicleType
            .vaehicle-type-input
              input.inputs(type='text' placeholder='your OID' name='oid')
          .balance-box
            .balance-label
              .balance Balance
            .balance-input
              input.inputs(type='text' placeholder='your OID' name='oid')
      .bottom-btns
        button.cancel-btn(type='button')
          .cancel Cancel
        button.register-btns(type='submit')
          .register Register
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js')
    script(src='sock.js')
    script.
      new DataTable('#users');
      new DataTable('#vehicles');
      new DataTable('#transactions');
    
      document.querySelector("#users_filter label input:first-child").setAttribute("placeholder", "Search here...");
      document.querySelector("#vehicles_filter label input:first-child").setAttribute("placeholder", "Search here...");
      document.querySelector("#transactions_filter label input:first-child").setAttribute("placeholder", "Search here...");
      
      const users_btn = document.querySelector(".users");
      const vehicles_btn = document.querySelector(".vehicles");
      const transactions_btn = document.querySelector(".transaction");
      const add_btn  = document.querySelector(".add-btn ");
      const add_modal_container  = document.querySelector(".add-modal-container");
      const black_bg  = document.querySelector(".black-bg");
      const cancel_btn  = document.querySelector(".cancel-btn");
      const body  = document.querySelector('.body');

      const ws = new WebSocket("ws://localhost:3000");

      ws.onmessage = (event) => {
        const dataContainer = document.getElementById("data-container");

        let content= JSON.parse(event.data);
        console.log(event.data);
        let msg='';
        let msg_color='';
        if(content.AccountBalance != null){
            if(content.AccountBalance > 25){
              msg='Access granted';
              msg_color='background:rgb(27 182 176 / 16%)';
              }
            else {
              msg='Insufficient balance!';
              msg_color='background:rgb(255 122 153 / 19%)';
              }
        }
        else{
          msg='access denied';
          msg_color='background:rgb(255 122 153 / 19%)';
        }
        console.log(msg);
        dataContainer.innerHTML = `
       <div class="right-container" id="data-container">
      <div class="user-profile-box"> 
        <div class="user-pic"> 
          <div class="frame-371"> <img class="drivers-pic" src="${content.photo!=null?content.photo:'images/user.png'}"/></div>
        </div>
      </div>
      <div class="user-detail-box"> 
          <div class="detail-label"> 
            <div class="all-details">All details</div>
          </div>
          <div class="detail-container"> 
            <div class="uid"> 
              <div class="frame-262"> 
                <div class="uid2">UID</div>
              </div>
              <div class="frame-263">
                <div class="gg-74873-yhhvhc">${content.UserID!=null?content.UserID:'no data found'}</div>
              </div>
            </div>
            <div class="name"> 
              <div class="frame-262"> 
                <div class="name2">Name</div>
              </div>
              <div class="frame-263">
                <div class="gg-74873-yhhvhc">${content.UserName!=null?content.UserName:'no data found'}</div>
              </div>
            </div>
            <div class="vehicle-id"> 
              <div class="frame-2622"> 
                <div class="name2">VehicleID</div>
              </div>
              <div class="frame-263"> 
                <div class="gg-74873-yhhvhc">${content.VehicleID!=null?content.VehicleID:'no data found'}</div>
              </div>
            </div>
            <div class="balance"> 
              <div class="frame-2622"> 
                <div class="balance2">Balance</div>
              </div>
              <div class="frame-263"> 
                <div class="_2-000-etb">${content.AccountBalance!=null?content.AccountBalance-25:'no data found'}</div>
              </div>
            </div>
            <div class="status"> 
              <div class="frame-2622"> 
                <div class="status2">Status</div>
              </div>
              <div class="frame-263" style='${msg_color}';} "> 
                <div class="access-granted">${msg}</div>
              </div>
            </div>
          </div>
          </div>
          </div>`;
          console.log(JSON.parse(event.data));
      };    
      users_btn.addEventListener("click", () => {
        window.location.href = "/users";
      });
      vehicles_btn.addEventListener("click", () => {
        window.location.href = "/vehicles";
      });
      transactions_btn.addEventListener("click", () => {
        window.location.href = "/transactions";
      });
     
      add_btn.addEventListener("click", () => {
        add_modal_container.classList.remove('hidden');
        black_bg.classList.remove('hidden');
        body.style.overflow = 'hidden';
      });
      black_bg.addEventListener("click", () => {
        add_modal_container.classList.add('hidden');
        black_bg.classList.add('hidden');
        body.style.overflow = 'auto';
      });
      cancel_btn.addEventListener('click', () => {
        add_modal_container.classList.add('hidden');
        black_bg.classList.add('hidden');
        body.style.overflow = 'auto';
      });
      
      // Event listener for the user-records buttons
      var userRecordsButtons = document.querySelectorAll('.user-records');
      userRecordsButtons.forEach((button)=> {
        button.addEventListener('click', function(e) {
          console.log('clicked')
          var userId = this.dataset.userid;
          var url = window.location.href.split('?')[0]; // Get the base URL without query parameters
          window.location.href = url + '?id=' + userId; // Append the 'id' query parameter to the URL
          console.log(userID);
          });
          });
      

      
